<span *ngIf = "!isEdit" >Title:{{post.title}},  Author:{{post.body}} </span>
<span *ngIf = "isEdit" >
    
    Title: <input type="text" [(ngModel)] = "post.title"> 
    Author: <input type="text" [(ngModel)] = "post.body">
</span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button>
