<div>
 <jce-post-form (postAddedEvent)="addPost($event)"></jce-post-form>
    <h3>Posts list:</h3>   
    <jce-spinner [visible] = "isLoading"></jce-spinner>
   <ul class = "list-group posts">
    <li *ngFor = "let post of posts" class = "list-group-item">
      <jce-post [post] = "post" (deleteEvent) = "deletePost($event)" (editEvent) = "editUser($event)"></jce-post>
    </li>
   </ul>
 </div>
 



